// .leaflet-control-layers-toggle {
//   background-image: url('/assets/leaflet/images/layers.png');
// }
// .leaflet-retina .leaflet-control-layers-toggle {
//   background-image: url('/assets/leaflet/images/layers-2x.png');
// }
// .leaflet-default-icon-path {
//   background-image: url('/assets/leaflet/images/marker-icon.png');
// }

